<div>
  @if (show1_fe) {
    <div>
      <div>
        <input [(feControl)]="value1">
        {{ value1 }}
      </div>
    </div>
  }
  @if (show1_ng) {
    <div>
      <div>
        <input [(ngModel)]="value1">
        {{ value1 }}
      </div>
    </div>
  }
</div>

<div>
  @if (show2_fe) {
    <div>
      <div>
        <input [(feControl)]="value2">
        <span #value2_fe>{{ value2 }}</span>
      </div>
    </div>
  }
  @if (show2_ng) {
    <div>
      <div>
        <input [(ngModel)]="value2">
        <span #value2_ng>{{ value2 }}</span>
      </div>
    </div>
  }
</div>

<div>
  @if (show3_fe) {
    <form ngNoForm>
      <div>
        <input [(feControl)]="value3" name="value3_fe">
        <span>{{ value3 }}</span>
      </div>
    </form>
  }
  @if (show3_ng) {
    <div ngForm>
      <div>
        <input [(ngModel)]="value3" name="value3_ng">
        <span>{{ value3 }}</span>
      </div>
    </div>
  }
</div>

<button (click)="bench1()">BENCH_1</button>
<button (click)="bench2()">BENCH_2</button>
<button (click)="bench3()">BENCH_3</button>
