<h2>Adapter</h2>

<form>
  <h4>VALUES_ACCESSOR</h4>
  <app-custom-ng-va [(feControl)]="model1"></app-custom-ng-va>
  <input [(feControl)]="model1">
</form>

<form>
  <h4>VALIDATOR</h4>
  <app-custom-ng-va [(feControl)]="model2" #c1="feControl" appCustomNgValidator></app-custom-ng-va>
  <div>ERRORS: {{ c1.errors | json }}</div>
</form>

<div>
  <h4>mat-form-field & matInput</h4>
  <mat-form-field>
    <mat-label>Model3</mat-label>
    <input matInput [(feControl)]="model3" required>
  </mat-form-field>
  <div>
    VALUE: {{ model3 | json }}
  </div>
</div>

<div>
  <h4>mat-date-picker</h4>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(feControl)]="model4">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div>
    VALUE: {{ model4 | json }}
  </div>
  <div>
    VALUE_TYPE: {{ model4type | json }}
  </div>
</div>
