<h2>[(feModel)]</h2>

<h3>Default controls</h3>

<form>
  <h4>text</h4>
  INP_TEXT1: <input [(feModel)]="form.inputText" name="t1" type="text"><br>
  INP_TEXT1: <input [(feModel)]="form.inputText" name="t12" type="text"><br>
  INP_TEXT2: <input [(feModel)]="form.inputText2" name="t2" type="text"><br>
  INP_TEXT3: <input [(feModel)]="form.inputText3" feText name="t3" type="text"><br>
  TEXTAREA: <textarea [(feModel)]="form.textarea" name="ta1"></textarea><br>
  {{ form | json }}
  <hr>
  <h4>input - number</h4>
  <hr>
  <h4>input - date</h4>
  <hr>
  <h4>input - time</h4>
  <hr>
  <h4>input - color</h4>
  <hr>
  <h4>input - file</h4>
  <hr>
  <h4>input - range</h4>
  <hr>
  <h4>checkbox</h4>
  <input [(feModel)]="form.checkbox1" name="cb1" type="checkbox"> CHECKY 1<br>
  <input [(feModel)]="form.checkbox2" name="cb2" type="checkbox"> CHECKY 2<br>
  <hr>
  <h4>radio - each | {{ form.radio1 | json }}</h4>
  <input [(feModel)]="form.radio1" name="r1" type="radio" value="one"> RADIO1-1<br>
  <input [(feModel)]="form.radio1" name="r1" type="radio" value="two"> RADIO1-2<br>
  <hr>
  <h4>radio - host | {{ form.radio2 | json }}</h4>
  <div [(feModel)]="form.radio2" name="r2">
    <input name="r2" type="radio" value="1"> RADIO2-1<br>
    <input name="r2" type="radio" value="2"> RADIO2-2<br>
    <input name="r2" type="radio" value="5"> RADIO2-5<br>
  </div>
  <hr>
  <h4>radio - null | {{ form.radio3 | json }}</h4>
  <div [(feModel)]="form.radio3" name="r3">
    <input [(feModel)]="form.radio3" name="r3" type="radio" value="one"> RADIO1-1<br>
    <input [(feModel)]="form.radio3" name="r3" type="radio" value="two"> RADIO1-2<br>
  </div>
  <hr>
  <h4>select - single string</h4>
  <select [(feModel)]="form.select1" name="select1">
    <option value="one">ONE</option>
    <option value="two">TWO</option>
    <option value="three">THREE</option>
  </select>
  <hr>
  <h4>select - empty value without empty options</h4>
  <select [(feModel)]="form.select2" name="select2">
    <option value="one">ONE</option>
    <option value="two">TWO</option>
    <option value="three">THREE</option>
    <option>FOUR</option>
  </select>
  <hr>
  <h4>select - single non-string</h4>
  <hr>
  <h4>radio - multiple</h4>
</form>

{{ form | json }}

<h3>Validators</h3>

<form>
  <h4>required</h4>
  <input #m="feModel" [(feModel)]="form2.text1" name="t1" required type="text">
  {{ m.errors | json }}<br>
  <input #m2="feModel" [(feModel)]="form2.text2" [required]="true" name="t2" type="text">
  {{ m2.errors | json }}<br>
  <input #m3="feModel" [(feModel)]="form2.text3" [required]="form2.text3_req" name="t3" type="text">
  {{ m3.errors | json }}
  <input [(feModel)]="form2.text3_req" name="t3c" type="checkbox"><br>
  <input #m4="feModel" [(feModel)]="form2.text4" [validators]="[text4validator]" name="t4" type="text">
  {{ m4.errors | json }}<br>
  <br>
</form>


<h3>Field Proto</h3>

<form>
  <app-field label="Req field">
    <input #model3_1="feModel" [(feModel)]="form3.text1" feText name="t1" required type="text">
    <div *ngIf="model3_1.displayedErrors as errors" errors>
      {{ errors | json }}
    </div>
  </app-field>
  <app-field label="Non-req field">
    <input [(feModel)]="form3.text2" feText name="t2" type="text"><br>
  </app-field>
</form>


<h4>Errors output</h4>
<form (feSubmit)="submit()" feForm>
  <input #model3_3="feModel" [(feModel)]="form3.text3" feText name="t1" required type="text">
  touched$: {{ model3_3.touched$ | async | json }}
  touched: {{ model3_3.touched | json }}
  <div *ngIf="model3_3.displayedErrors as errors">
    <span *ngIf="errors.has('required')">Required.</span>
  </div>
  <br>
  <button (feSubmit)="submit()" type="button">SUBM</button>
</form>
