<h2>*formError</h2>

<div>
  <form>
    <input #em1="ngModel" [(ngModel)]="ev1" name="ev1" required>
    <span *ngIf="em1.hasError('required')">Required.</span>
    <span *ngIf="em1.errors?.required">Required.</span>
    <span *ngIf="em1.getError('required'); let err">Required. {{ err | json }}</span>
    <span *ngIf="em1.errors?.required; let err">Required. {{ err | json }}</span>
    <span *err="em1; let errors">{{ errors | json }}</span>
  </form>
</div>

<div>
  Native:
  <form>
    <input [(ngModel)]="ev3" name="ev3" #em3="ngModel" required [fn]="evv1">
    <div *ngIf="em3.touched && em3.errors?.required">Required.</div>
    <div *ngIf="em3.touched && em3.errors; let errors">{{ errors | json }}</div>
  </form>
</div>

<div>
  formError:
  <form>
    <input [(ngModel)]="ev4" name="ev4" required [fn]="evv1" #em4="ngModel">
    <div *err="em4; let errors">{{ errors | json }}</div>
    <div *err="em4; let errors">{{ errors | errors }}</div>
    <app-display-errors *err="em4; let errors" [errors]="errors"></app-display-errors>
  </form>
</div>
