<h2>FeInputDirective</h2>

<div class="case">
  <h4>Basic text input</h4>
  <div>
    <input
      [(feControl)]="value1"
      feInput
      id="input-1"
    >
    <div id="input-1-value">
      VAL: {{ value1 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Bind value on init</h4>
  <div>
    <input
      [(feControl)]="value2"
      feInput
      id="input-2"
    >
    <div id="input-2-value">
      VAL: {{ value2 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Bind undefined on init</h4>
  <div>
    <input
      [(feControl)]="value3"
      feInput
      id="input-3"
    >
    <div id="input-3-value">
      VAL: {{ value3 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Number input</h4>
  <div>
    <input
      [(feControl)]="value4"
      feInput
      id="input-4"
      type="number"
    >
    <div id="input-4-value">
      VAL: {{ value4 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Number input with forced type</h4>
  <div>
    <input
      [(feControl)]="value5"
      adapter="numberToString"
      feInput
      id="input-5"
      type="number"
    >
    <div id="input-5-value">
      VAL: {{ value5 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Text input with forced number type</h4>
  <div>
    <input
      [(feControl)]="value6"
      adapter="numberToString"
      feInput
      id="input-6"
      type="text"
    >
    <div id="input-6-value">
      VAL: {{ value6 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Base checkbox</h4>
  <div>
    <input
      [(feControl)]="value7"
      feInput
      id="input-7"
      type="checkbox"
    >
    <div id="input-7-value">
      VAL: {{ value7 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Checkbox with true init</h4>
  <div>
    <input
      [(feControl)]="value8"
      feInput
      id="input-8"
      type="checkbox"
    >
    <div id="input-8-value">
      VAL: {{ value8 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Checkbox with undefined init</h4>
  <div>
    <input
      [(feControl)]="value9"
      feInput
      id="input-9"
      type="checkbox"
    >
    <div id="input-9-value">
      VAL: {{ value9 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Base radio</h4>
  <div>
    1<input
    [(feControl)]="value10"
    feInput
    id="input-10-1"
    name="radio-1"
    type="radio"
    value="1"
  >
    2<input
    [(feControl)]="value10"
    feInput
    id="input-10-2"
    name="radio-1"
    type="radio"
    value="2"
  >
    3<input
    [(feControl)]="value10"
    feInput
    id="input-10-3"
    name="radio-1"
    type="radio"
    value="3"
  >
    <div id="input-10-value">
      VAL: {{ value10 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Radio without name</h4>
  <div>
    1<input
    [(feControl)]="value11"
    feInput
    id="input-11-1"
    type="radio"
    value="1"
  >
    2<input
    [(feControl)]="value11"
    feInput
    id="input-11-2"
    type="radio"
    value="2"
  >
    3<input
    [(feControl)]="value11"
    feInput
    id="input-11-3"
    type="radio"
    value="3"
  >
    <div id="input-11-value">
      VAL: {{ value11 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Radio with undefined init</h4>
  <div>
    1<input
    [(feControl)]="value12"
    feInput
    id="input-12-1"
    type="radio"
    value="1"
  >
    2<input
    [(feControl)]="value12"
    feInput
    id="input-12-2"
    type="radio"
    value="2"
  >
    <div id="input-12-value">
      VAL: {{ value12 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Radio with number value</h4>
  <div>
    1<input
    [(feControl)]="value13"
    [value]="1"
    feInput
    id="input-13-1"
    type="radio"
  >
    2<input
    [(feControl)]="value13"
    [value]="2"
    feInput
    id="input-13-2"
    type="radio"
  >
    <div id="input-13-value">
      VAL: {{ value13 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Base date</h4>
  <div>
    <input
      [(feControl)]="value14"
      feInput
      id="input-14"
      type="date"
    >
    <div id="input-14-value">
      VAL: {{ value14 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Date with Date type</h4>
  <div>
    <input
      [(feControl)]="value15"
      adapter="dateToDateString"
      feInput
      id="input-15"
      type="date"
    >
    <div id="input-15-value">
      VAL: {{ value15 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Datetime-local</h4>
  <div>
    <input
      [(feControl)]="value16"
      feInput
      id="input-16"
      type="datetime-local"
    >
    <div id="input-16-value">
      VAL: {{ value16 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>Datetime-local with Date type</h4>
  <div>
    <input
      [(feControl)]="value17"
      adapter="dateToDateLocalString"
      feInput
      id="input-17"
      type="datetime-local"
    >
    <div id="input-17-value">
      VAL: {{ value17 | json }}
    </div>
  </div>
</div>


// TODO: File
// TODO: Range
// TODO: Textarea
