<h2>FeInputDirective</h2>

<div class="case">
  <h4>1 - Basic text input</h4>
  <div>
    <input
      [(feControl)]="value1"
      id="input-1"
    >
    <div id="input-1-value">
      VAL: {{ value1 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>2 - Bind value on init</h4>
  <div>
    <input
      [(feControl)]="value2"
      id="input-2"
    >
    <div id="input-2-value">
      VAL: {{ value2 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>3 - Bind undefined on init</h4>
  <div>
    <input
      [(feControl)]="value3"
      id="input-3"
    >
    <div id="input-3-value">
      VAL: {{ value3 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>4 - Number input</h4>
  <div>
    <input
      [(feControl)]="value4"
      id="input-4"
      type="number"
    >
    <div id="input-4-value">
      VAL: {{ value4 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>5 - Number input with forced type</h4>
  <div>
    <input
      [(feControl)]="value5"
      adapter="numberToString"
      id="input-5"
      type="number"
    >
    <div id="input-5-value">
      VAL: {{ value5 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>6 - Text input with forced number type</h4>
  <div>
    <input
      [(feControl)]="value6"
      adapter="numberToString"
      id="input-6"
      type="text"
    >
    <div id="input-6-value">
      VAL: {{ value6 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>7 - Base checkbox</h4>
  <div>
    <input
      [(feControl)]="value7"
      id="input-7"
      type="checkbox"
    >
    <div id="input-7-value">
      VAL: {{ value7 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>8 - Checkbox with true init</h4>
  <div>
    <input
      [(feControl)]="value8"
      id="input-8"
      type="checkbox"
    >
    <div id="input-8-value">
      VAL: {{ value8 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>9 - Checkbox with undefined init</h4>
  <div>
    <input
      [(feControl)]="value9"
      id="input-9"
      type="checkbox"
    >
    <div id="input-9-value">
      VAL: {{ value9 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>10 - Base radio</h4>
  <div>
    1<input
    [(feControl)]="value10"
    id="input-10-1"
    name="radio-1"
    type="radio"
    value="1"
  >
    2<input
    [(feControl)]="value10"
    id="input-10-2"
    name="radio-1"
    type="radio"
    value="2"
  >
    3<input
    [(feControl)]="value10"
    id="input-10-3"
    name="radio-1"
    type="radio"
    value="3"
  >
    <div id="input-10-value">
      VAL: {{ value10 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>11 - Radio without name</h4>
  <div>
    1<input
    [(feControl)]="value11"
    id="input-11-1"
    type="radio"
    value="1"
  >
    2<input
    [(feControl)]="value11"
    id="input-11-2"
    type="radio"
    value="2"
  >
    3<input
    [(feControl)]="value11"
    id="input-11-3"
    type="radio"
    value="3"
  >
    <div id="input-11-value">
      VAL: {{ value11 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>12 - Radio with undefined init</h4>
  <div>
    1<input
    [(feControl)]="value12"
    id="input-12-1"
    type="radio"
    value="1"
  >
    2<input
    [(feControl)]="value12"
    id="input-12-2"
    type="radio"
    value="2"
  >
    <div id="input-12-value">
      VAL: {{ value12 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>13 - Radio with number value</h4>
  <div>
    1<input
    [(feControl)]="value13"
    [value]="1"
    id="input-13-1"
    type="radio"
  >
    2<input
    [(feControl)]="value13"
    [value]="2"
    id="input-13-2"
    type="radio"
  >
    <div id="input-13-value">
      VAL: {{ value13 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>14 - Base date</h4>
  <div>
    <input
      [(feControl)]="value14"
      id="input-14"
      type="date"
    >
    <div id="input-14-value">
      VAL: {{ value14 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>15 - Date with Date type</h4>
  <div>
    <input
      [(feControl)]="value15"
      adapter="dateToDateString"
      id="input-15"
      type="date"
    >
    <div id="input-15-value">
      VAL: {{ value15 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>16 - Datetime-local</h4>
  <div>
    <input
      [(feControl)]="value16"
      id="input-16"
      type="datetime-local"
    >
    <div id="input-16-value">
      VAL: {{ value16 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>17 - Datetime-local with Date type</h4>
  <div>
    <input
      [(feControl)]="value17"
      adapter="dateToDateLocalString"
      id="input-17"
      type="datetime-local"
    >
    <div id="input-17-value">
      VAL: {{ value17 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>18 - Base file</h4>
  <div>
    <input [(feControl)]="files1" id="input-18" type="file">
  </div>
  <div id="input-18-value">
    VAL: {{ files1 }}, LEN: {{ files1?.length | json }}
  </div>
</div>

<div class="case">
  <h4>19 - File + readFiles</h4>
  <div>
    <input (feControlChange)="loadFiles2($event)" [feControl]="files2" id="input-19" multiple type="file">
  </div>
  <div id="input-19-value">
    VAL: {{ files2 | json }}, LEN: {{ files2?.length | json }}
  </div>
  <div id="input-19-value-2">
    LOADED FILES: {{ files2loaded | json }}, LEN: {{ files2loaded?.length | json }}
  </div>
</div>

<div class="case">
  <h4>20 - File from control</h4>
  <div>
    <input [(feControl)]="files3" type="file">
  </div>
  <div>
    VAL: {{ files3 | json }}, LEN: {{ files3?.length | json }}
  </div>
</div>

<div class="case">
  <h4>21 - Update on blur</h4>
  <div>
    <input
      [(feControl)]="value21"
      id="input-21"
      updateOn="blur"
    >
    <div id="input-21-value">
      VAL: {{ value21 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>22 - Textarea</h4>
  <div>
    <textarea
      [(feControl)]="value22"
      id="input-22"
    ></textarea>
    <div id="input-22-value">
      VAL: {{ value22 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>23 - Range</h4>
  <div>
    <input
      [(feControl)]="value23"
      id="input-23"
      type="range"
    >
    <div id="input-23-value">
      VAL: {{ value23 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>24 - Range with number adapter</h4>
  <div>
    <input
      [(feControl)]="value24"
      adapter="numberToString"
      id="input-24"
      type="range"
    >
    <div id="input-24-value">
      VAL: {{ value24 | json }}
    </div>
  </div>
</div>

<div class="case">
  <h4>25 - Readonly</h4>
  <div>
    <input
      [(feControl)]="value25"
      id="input-25"
      readonly
    >
    <div id="input-25-value">
      VAL: {{ value25 | json }}
    </div>
  </div>
</div>
