<h1>🧰 ngfe</h1>

<h2>fnValidator</h2>

<div>
  <h5>1. =false and no error</h5>
  <input [(ngModel)]="v1" #m1="ngModel" [fnValidator]="false">
  {{ m1.errors | json }}
</div>

<div>
  <h5>2. fn with err</h5>
  <input [(ngModel)]="v1" #m2="ngModel" [fnValidator]="fv2">
  {{ m2.errors | json }}
</div>

<div>
  <h5>3. err if value === 'pg'</h5>
  <input [(ngModel)]="v3" #m3="ngModel" [fnValidator]="fv3">
  {{ m3.errors | json }}
</div>

<div>
  <h5>4. err if value_left !== value_right (with lambda)</h5>
  <input [(ngModel)]="v4_1" #m4_1="ngModel" [fnValidator]="fv4">
  <input [(ngModel)]="v4_2">
  {{ m4_1.errors | json }}
</div>

<div>
  <h5>5. err if value_left !== value_right (with .bind)</h5>
  <input [(ngModel)]="v5_1" #m5_1="ngModel" [fnValidator]="fv5.bind(this)">
  <input [(ngModel)]="v5_2">
  {{ m5_1.errors | json }}
</div>

<div>
  <h5>6. err if value_left !== value_right (with ref and bind ngModel)</h5>
  <input [(ngModel)]="v6_1" #m6_1="ngModel" [fnValidator]="fv6.bind(this)">
  <input [(ngModel)]="v6_2" [validationRef]="m6_1">
  {{ m6_1.errors | json }}
</div>

<div>
  <h5>7. err if value_left !== value_right_1 + value_right_2 (with ref and bind ngModels array)</h5>
  <input [(ngModel)]="v7_1" #m7_1="ngModel" [fnValidator]="fv7.bind(this)">
  <input [(ngModel)]="v7_2" [validationRef]="m7_1">
  <input [(ngModel)]="v7_3" [validationRef]="m7_1">
  {{ m7_1.errors | json }}
</div>

<div>
  <form>
    <h5>8. err if value_left !== value_right (with ref and bind control name)</h5>
    <input [(ngModel)]="v8_1" name="v8_1" #m8_1="ngModel" [fnValidator]="fv8.bind(this)">
    <input [(ngModel)]="v8_2" name="v8_2" validationRef="v8_1">
    {{ m8_1.errors | json }}
  </form>
</div>

<div>
  <form>
    <h5>9. err if value_left_1 !== value_right_1, value_left_2 !== value_right_1 (with ref and bind ngModels array)</h5>
    <input [(ngModel)]="v9_1" #m9_1="ngModel" name="m9_1" [fnValidator]="fv9.bind(this)">
    {{ m9_1.errors | json }}
    <input [(ngModel)]="v9_2" #m9_2="ngModel" name="m9_2" [fnValidator]="fv9.bind(this)">
    {{ m9_2.errors | json }}
    <input [(ngModel)]="v9_3" name="m9_3" [validationRef]="[m9_1, 'm9_2']">
  </form>
</div>

<div>
  <h5>TODO 7. multiple errors</h5>
  <input [(ngModel)]="v3" #m3="ngModel" [fnValidator]="fv3">
  {{ m3.errors | json }}
</div>

<div>
  <h5>TODO 8. using closure</h5>
  <input [(ngModel)]="v3" #m3="ngModel" [fnValidator]="fv3">
  {{ m3.errors | json }}
</div>
