<h1>🧰 ngfe</h1>

<a routerLink="/input-control">Control:Input</a> |
<a routerLink="/select-control">Control:Select</a> |
<a routerLink="/validation">Validation</a> |
<a routerLink="/adapters">Adapters</a> |
<a routerLink="/lifecycle">Lifecycle</a> |
<a routerLink="/disabled">Disabled</a> |
<a routerLink="/form">Form</a> |
<a routerLink="/standalone">Standalone</a> |
<a routerLink="/demo-field">Demo:Field</a> |
<a routerLink="/demo-custom-control">Demo:CustomControl</a> |
<a routerLink="/demo-dynamic-form">Demo:DynamicForm</a> |
<a routerLink="/demo-sub-form">Demo:SubForm</a> |
<a routerLink="/demo-registration-form">Demo:RegistrationForm</a> |

<router-outlet></router-outlet>
