<h2>[feForm]</h2>

<form feForm #feForm1="feForm">
  <div>
    model1:
    <input [(feModel)]="model1" feText required #m1="feModel">
    <div>
      <span>TOUCHED: {{ m1.touched }}</span>
      <span>DIRTY: {{ m1.dirty }}</span>
      <span>VALID: {{ m1.valid }}</span>
    </div>
  </div>
  <div>
    model2:
    <input [(feModel)]="model2" feText #m2="feModel">
    <div>
      <span>TOUCHED: {{ m2.touched }}</span>
      <span>DIRTY: {{ m2.dirty }}</span>
      <span>VALID: {{ m2.valid }}</span>
      <span>VALIDITY: {{ m2.validity }}</span>
    </div>
  </div>
  <div>
    FORM VALID: {{ feForm1.valid | json }}
    FORM INVALID: {{ feForm1.invalid | json }}
    FORM PENDING: {{ feForm1.pending | json }}
    FORM TOUCHED: {{ feForm1.touched | json }}
    FORM DIRTY: {{ feForm1.dirty | json }}
  </div>
  <button (click)="feForm1.reset()" type="button">RESET</button>
  <button (feSubmit)="submit()">SUBMIT</button>
</form>
