<h2>Lifecycle</h2>

<div class="case">
  <h4>1 - (destroy)</h4>
  <div>
    <input
      *ngIf="show1"
      [(feControl)]="value1"
      (destroy)="value1 = undefined"
      id="control-1"
    >
    <button type="button" (click)="show1 = !show1" id="control-1-toggle">Toggle</button>
  </div>
  <div id="control-1-value">
    VAL: {{ value1 | json }}
  </div>
</div>

<div class="case">
  <h4>2 - Touch handle</h4>
  <div>
    <input
      #c2="feControl"
      [(feControl)]="value2"
      id="control-2"
    >
  </div>
  <div id="control-2-touched">
    TOUCHED: {{ c2.touched | json }}
  </div>
</div>

<div class="case">
  <h4>3 - Dirty handle</h4>
  <div>
    <input
        #c3="feControl"
        [(feControl)]="value3"
        id="control-3"
    >
  </div>
  <div id="control-3-dirty">
    DIRTY: {{ c3.dirty | json }}
  </div>
</div>

// TODO: Reset
