<h2>[feSelect]</h2>

<div>
  <select [(feModel)]="model1" feSelect>
    <option feOption value="">VAL_</option>
    <option feOption value="1">VAL1</option>
    <option feOption value="2">VAL2</option>
    <option feOption value="3">VAL3</option>
  </select>
  <br>{{ model1 | json }}
</div>

<div>
  Undefined<br>
  <select [(feModel)]="model2" feSelect>
    <option feOption value="1">VAL1</option>
    <option feOption value="2">VAL2</option>
    <option feOption value="3">VAL3</option>
  </select>
  <br>{{ model2 | json }}
</div>
