<h2>Disabled</h2>

<div>
  <form feGroup #f1="feGroup">
    <input [(feControl)]="model1" feText [disabled]="model1disabled" #m1="feControl" required>
    <div>
      DISABLED: {{ m1.disabled | json }}<br>
      VALID: {{ m1.validity | json }}
    </div>
    <button (click)="model1disabled = !model1disabled">D_TOGGLE</button>
    <div>
      FORM_VALID: {{ f1.valid | json }}
    </div>
  </form>
</div>

<div>
  <form feGroup #f2="feGroup">
    <input [(feControl)]="model2" feText #m2="feControl" disabled>
    <div>
      DISABLED: {{ m2.disabled | json }}<br>
    </div>
    <div>
      FORM_MODELS_LENGHT: {{ f2.controls.length | json }}
    </div>
  </form>
</div>
