<h2>Disabled</h2>

<div>
  <form feForm #f1="feForm">
    <input [(feModel)]="model1" feText [disabled]="model1disabled" #m1="feModel" required>
    <div>
      DISABLED: {{ m1.disabled | json }}<br>
      VALID: {{ m1.validity | json }}
    </div>
    <button (click)="model1disabled = !model1disabled">D_TOGGLE</button>
    <div>
      FORM_VALID: {{ f1.valid | json }}
    </div>
  </form>
</div>

<div>
  <form feForm #f2="feForm">
    <input [(feModel)]="model2" feText #m2="feModel" disabled>
    <div>
      DISABLED: {{ m2.disabled | json }}<br>
    </div>
    <div>
      FORM_MODELS_LENGHT: {{ f2.models.length | json }}
    </div>
  </form>
</div>
