<h2>Validators</h2>

<form>
  Required
  <div>
    <input #m0="feControl" [(feControl)]="model0" feText required>
    <div *ngIf="m0.touched && m0.errors as errors">
      TOUCHED+ERRORS: {{ errors | json }}
    </div>
    <div *ngIf="m0.visibleErrors as errors">
      VISIBLE_ERRORS: {{ errors | json }}
    </div>
  </div>
  VALIDITY: {{ m0.validity | json }}<br>
  TOUCHED: {{ m0.touched | json }}<br>
  ERRORS: {{ m0.errors | json }}
</form>

<form>
  Asyncs
  <div>
    <input
        #m="feControl"
        [(feControl)]="model1"
        [debounce]="debounce"
        [extraValidators]="[asyncValObs, asyncValProm, optAsyncObs]"
        feText
        name="model1"
        [disabled]="m.pending"
    >
    <br>VALIDITY: {{ m.validity | json }}
    <br>ERRORS: {{ m.errors | json }}
  </div>
  <div>
    DEBOUNCE: <input [(feControl)]="debounce" feNumber>
  </div>
</form>
