<h2>Validation</h2>

<div class="case">
  <h4>1 - Required validator</h4>
  <div>
    <input #c1="feControl" [(feControl)]="value1" feInput required id="control-1">
  </div>
  <div id="control-1-validity">
    VALIDITY: {{ c1.validity | json }}<br>
  </div>
  <div id="control-1-errors">
    ERRORS: {{ c1.errors | json }}
  </div>
</div>

<div class="case">
  <h4>2 - Function validator</h4>
  <div>
    <input #c2="feControl" [(feControl)]="value2" feInput id="control-2" [extraValidators]="[syncVal]">
  </div>
  <div id="control-2-validity">
    VALIDITY: {{ c2.validity | json }}<br>
  </div>
  <div id="control-2-errors">
    ERRORS: {{ c2.errors | json }}
  </div>
</div>

<div class="case">
  <h4>3 - Function async Observable validator</h4>
  <div>
    <input #c3="feControl" [(feControl)]="value3" feInput id="control-3" [extraValidators]="[asyncValObs]">
  </div>
  <div id="control-3-validity">
    VALIDITY: {{ c3.validity | json }}<br>
  </div>
  <div id="control-3-errors">
    ERRORS: {{ c3.errors | json }}
  </div>
</div>

<div class="case">
  <h4>4 - Function async Promise validator</h4>
  <div>
    <input #c4="feControl" [(feControl)]="value4" feInput id="control-4" [extraValidators]="[asyncValProm]">
  </div>
  <div id="control-4-validity">
    VALIDITY: {{ c4.validity | json }}<br>
  </div>
  <div id="control-4-errors">
    ERRORS: {{ c4.errors | json }}
  </div>
</div>

<div class="case">
  <h4>5 - Debounce before async</h4>
  <div>
    <input #c5="feControl" [(feControl)]="value5" feInput id="control-5" [extraValidators]="[asyncValObs]" [debounce]="300">
  </div>
  <div id="control-5-validity">
    VALIDITY: {{ c5.validity | json }}<br>
  </div>
  <div id="control-5-errors">
    ERRORS: {{ c5.errors | json }}
  </div>
</div>

<div class="case">
  <h4>6 - Email validator</h4>
  <div>
    <input #c6="feControl" [(feControl)]="value6" feInput email id="control-6">
  </div>
  <div id="control-6-validity">
    VALIDITY: {{ c6.validity | json }}<br>
  </div>
  <div id="control-6-errors">
    ERRORS: {{ c6.errors | json }}
  </div>
</div>

<div class="case">
  <h4>7 - Length validator</h4>
  <div>
    <input #c7="feControl" [(feControl)]="value7" feInput minlength="5" [maxlength]="10" id="control-7">
  </div>
  <div id="control-7-validity">
    VALIDITY: {{ c7.validity | json }}<br>
  </div>
  <div id="control-7-errors">
    ERRORS: {{ c7.errors | json }}
  </div>
</div>

<div class="case">
  <h4>8 - Pattern validator</h4>
  <div>
    <input #c8="feControl" [(feControl)]="value8" feInput pattern="[a-zA-Z ]*" id="control-8">
  </div>
  <div id="control-8-validity">
    VALIDITY: {{ c8.validity | json }}<br>
  </div>
  <div id="control-8-errors">
    ERRORS: {{ c8.errors | json }}
  </div>
</div>

<div class="case">
  <h4>9 - Required validator with initial value</h4>
  <div>
    <input #c9="feControl" [(feControl)]="value9" feInput required id="control-9">
  </div>
  <div id="control-9-validity">
    VALIDITY: {{ c9.validity | json }}<br>
  </div>
  <div id="control-9-errors">
    ERRORS: {{ c9.errors | json }}
  </div>
</div>

<div class="case">
  <h4>10 - Number validator</h4>
  <div>
    <input #c10="feControl" [(feControl)]="value10" feInput adapter="numberToString" min="10" max="20" id="control-10">
  </div>
  <div id="control-10-validity">
    VALIDITY: {{ c10.validity | json }}<br>
  </div>
  <div id="control-10-errors">
    ERRORS: {{ c10.errors | json }}
  </div>
</div>

<div class="case">
  <h4>11 - isNumber validator</h4>
  <div>
    <input #c11="feControl" [(feControl)]="value11" feInput isNumber adapter="numberToString" id="control-11">
    <input [(feControl)]="value11" feInput id="control-11-sub">
  </div>
  <div id="control-11-value">
    VAL: {{ value11 | json }}<br>
  </div>
  <div id="control-11-validity">
    VALIDITY: {{ c11.validity | json }}<br>
  </div>
  <div id="control-11-errors">
    ERRORS: {{ c11.errors | json }}
  </div>
</div>

<div class="case">
  <h4>12 - Equal validator</h4>
  <div>
    <input #c12="feControl" [(feControl)]="value12" feInput equal="321" id="control-12">
  </div>
  <div id="control-12-validity">
    VALIDITY: {{ c12.validity | json }}<br>
  </div>
  <div id="control-12-errors">
    ERRORS: {{ c12.errors | json }}
  </div>
</div>

<div class="case">
  <h4>13 - Not equal validator</h4>
  <div>
    <input #c13="feControl" [(feControl)]="value13" feInput notEqual="654" id="control-13">
  </div>
  <div id="control-13-validity">
    VALIDITY: {{ c13.validity | json }}<br>
  </div>
  <div id="control-13-errors">
    ERRORS: {{ c13.errors | json }}
  </div>
</div>

<div class="case">
  <h4>14 - Equal models validator</h4>
  <div>
    <input #c14_1="feControl" [(feControl)]="value14_1" feInput [equal]="value14_2" id="control-14-1">
    <input #c14_2="feControl" [(feControl)]="value14_2" feInput [equal]="value14_1" id="control-14-2">
  </div>
  <div id="control-14-1-validity">
    VALIDITY: {{ c14_1.validity | json }}<br>
  </div>
  <div id="control-14-2-validity">
    VALIDITY: {{ c14_2.validity | json }}<br>
  </div>
  <div id="control-14-1-errors">
    ERRORS: {{ c14_1.errors | json }}
  </div>
  <div id="control-14-2-errors">
    ERRORS: {{ c14_2.errors | json }}
  </div>
</div>
