<h2>[feText]</h2>

<form>
  <div>
    <input
      [(feControl)]="text1"
      feText
      name="text1"
      [(touched)]="text1touched"
      (touchedChange)="itstouched($event)"
      #c1="feControl"
      [disabled]="text1disabled"
    >
    VAL: {{ text1 | json }}<br>
    TOUCHED: {{ text1touched | json }}, {{ c1.touched | json }}, <input type="checkbox" [(feControl)]="text1touched" feCheckbox><br>
    DISABLED: {{ text1disabled | json }}, {{ c1.disabled | json }}, <input type="checkbox" [(feControl)]="text1disabled" feCheckbox>
  </div>
  <div>
    On type="number"
    <input [(feControl)]="text2" feText name="text2" type="number">
    {{ text2 | json }}
  </div>
  <div>
    updateOn="blur"
    <input [(feControl)]="text3" feText updateOn="blur">
    {{ text3 | json }}
  </div>
</form>
